*{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
}

body{
    position: relative;
    min-height: 100vh;
    background-color: #d5e7f5;
}

header{
    background-image: url("/images/fondo-pinceladas-azules.jpg");
    background-size: cover;
    background-color: #F3F5FC;
}

header .logo {
    margin-left: 2rem;
    padding: 20px 10px;
}

main{
    display: flex;
    background-color: #d5e7f5;
    justify-content: space-around;
    padding-bottom: 1rem;
}


.contenedor__CajaTexto{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 1rem;
}

.cajaTexto{
    height: 400px;
    border: none;
    resize: none;
    font-size: 2.25rem;
    text-align: center;
    box-sizing: border-box;
    padding-top: 2rem;
    background-color: #d5e7f5;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 28px;
}

.cajaTexto:focus{
    outline: none;
}

.alerta{
    display: inline-flex;
    padding: 1rem 0 1rem 0rem;
    font-size: 16px;
    font-weight: 200;
}

.imgAlerta{
    padding-left: 2rem;
    padding-right: 10px;
}

.contenedorBotones{
    justify-content: space-around;
    display: flex;
}

.botones{
    width: 10.5rem;
    height: 2.75rem;
    border-radius: 7.5px;
    border: none;
    font-size: 1.25rem;
    font-weight: 200;
    color: whitesmoke;
    background-color: #0A3871;
    cursor: pointer;
}

.section2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textoResultado{
    width: 303px;
    height: 346px;
    background-color: #d5e7f5;
    background-image: url(/images/Muñeco.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 25px;
    color: #0A3871;
    margin-top: 1rem;
    resize: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
    padding-top: 2rem;
}

.textoResultado:focus{
    outline: none;
}

.btnCopiar{
    margin-top: 1rem;
    margin-left: 70px;
}






footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 4rem;
    background-image: url(/images/fondo-pinceladas-azules.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h3 {
    font-size: 1.5rem;
    padding: 8px 15px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    font-style: italic;
  }
  
  /* 
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 15px;
    background-color: #0A3871;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    width: 10rem;
    text-align: center;
    font-size: 1.3rem;
  } 
  
  */