*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

header{
    width: 100%;
    height: 70px;
    background-image: url("/images/fondo-pinceladas-azules.jpg"); /* Reemplaza 'ruta_de_la_textura.jpg' con la ruta de la imagen de la textura que desees usar */
    background-size: cover;
    background-color: #F3F5FC;
    padding-top: 1.2rem;
}

header img{
    margin-left: 60px;
    padding: 10px 0px;
}

main{
    width: 100%;
    height: 780px;
    background-color: #d8eeff;
    display: flex;
    justify-content: space-between;
}

section{
    height: 100%;
    background-color: #d8eeff;
}

.section1{
    width: 60%;
}

.section2{
    width: 30%;
    padding-right: 2.85rem;
    position: relative;
}

/*Section1*/
.contenedor__CajaTexto{
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.cajaTexto{
    width: 90%;
    height: 100%;
    border: none;
    resize: none;
    font-size: 2.45rem;
    text-align: center;
    box-sizing: border-box;
    padding-top: 3rem;
    background-color: #d8eeff;
}

.cajaTexto:focus{
    outline: none;
}

.alerta{
    display: inline-flex;
    padding: 2rem 0 1rem 2rem;
    font-size: 1.25em;
}

.imgAlerta{
    padding-right: 1rem;
    padding-left: 2rem;
    width: 25px;
}

.contenedorBotones{
    justify-content: space-around;
    display: flex;
    padding-top: 1.5rem;
}


/*Section2*/
.contenedor__imagen{
    width: 100%;
    height: 60%;
    display: grid;
    align-items: center;
    justify-content: center;
    padding-top: 2.175rem;
}

.contenedor__Subtitulo{
    text-align: center;
    font-size: 1.25rem;
}

.contenedor__Parrafo{
    text-align: center;
    padding-top: 1.5rem;
    font-size: 1.05rem;
    font-weight: 400;
}

.btn__copiar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 6rem;
}

.botones{
    width: 10.5rem;
    height: 2.75rem;
    border-radius: 7.5px;
    border: none;
    font-size: 1.25rem;
    font-weight: 200;
    color: whitesmoke;
    background-color: #0A3871;
    cursor: pointer;
}

.contenedorResultado {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Footer */
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 69px;
    background-image: url("/images/fondo-pinceladas-azules.jpg"); /* Reemplaza 'ruta_de_la_textura.jpg' con la ruta de la imagen de la textura que desees usar */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h3 {
    font-size: 1.5rem;
    padding: 8px 15px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    font-style: italic;
  }

  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 15px;
    background-color: #0A3871;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    width: 10rem;
    text-align: center;
    font-size: 1.3rem;
  }